<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a href="./9-components-and-props.html">9-components-and-props</a>
      </div>

      <div class="cart">
        Cart ({{ cart }}) <span @click="clearCart" class="clear">clear</span>
      </div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- image go1 here -->
            <!-- bind attribute to an expression -->
            <!-- ternary operators for settings classes -->
            <img
              v-bind:src="image"
              :class="[ inStock ? '' : 'out-of-stock-img' ]"
            />
            <!-- you can also just do this without typing v-bind -->
            <!-- <img :src="image" /> -->
          </div>
          <div class="product-info">
            <!-- <h1>{{ product }}</h1> -->
            <!-- computer property for title -->
            <h1>{{ title }}</h1>
            <p>I love {{ description }} </p>

            <p v-if="inStock">In stock</p>
            <!-- A v-else element must immediately follow a v-if or a v-else-if element
            - otherwise it will not be recognized. -->
            <p v-else>Out of stock</p>

            <!-- <button @click="inStock = !inStock">toggle inStock</button> -->

            <!-- it's also possible to use v-show, more performant if it has to toggle-->
            <p v-show="inStock">In stock (using v-show)</p>

            <!-- else-if and integer comparison -->
            <p v-if="inventory > 10">In stock (only {{ inventory }} left!)</p>
            <p v-else-if="inventory > 0">Almost sold out (only {{ inventory }} left!)</p>
            <p v-else>Out of stock</p>

            <!-- lists using v-for -->
            <p>Made out of</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <p>Variants</p>

            <!-- I think css bindings translate backgroundColor to background-color -->
            <!-- using 'background-color' also works-->
            <div
              v-for="(variant, index) in variants"
              v-bind:key="variant.id"
              @mouseover="updateVariant(index)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }"></div>

            <p></p>
                <!-- I am not seeing this key in the HTML so I'm unsure what happens underwater -->
            <!-- The key special attribute is primarily used as a hint for Vue's virtual DOM algorithm
                 to identify vnodes when diffing the new list of nodes against the old list. -->

            <p>
              Sizes:
              <span v-for="size in sizes">{{ size }}&nbsp;</span>
            </p>

            <!-- <button v-on:click="addToCart" class="button">Add to cart</button> -->
            <!-- the @click is the v-on: shorthand-->
            <!-- Use the "{ }" syntax for setting the class binding.
                 disabledButton is the class name,
                 !inStock is the expression to evaluate -->
            <button
              @click="addToCart"
              class="button"
              :class="{ disabledButton: !inStock }"
              :disabled="!inStock">
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
